*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color1: hsl(263, 55%, 52%);
  --primary-color2: hsl(217, 19%, 35%);
  --primary-color3: hsl(219, 29%, 14%);
  --primary-color4: hsl(0, 0%, 100%);
  --neutral-color1: hsl(0, 0%, 81%);
  --neutral-color2: hsl(210, 46%, 95%);
}
body {
  display: grid;
  place-content: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  min-height: 100vh;
  background-color: var(--neutral-color2);
  padding: 40px 20px 0px 20px;
}
.grid-container {
  display: grid;
  grid-template-areas: 
      'one'
      'two'
      'three'
      'four'
      'five';
  gap: 1.75rem;
  padding-block: 2rem;
  height: 100%;
  width: 100%;
}
.grad-cards {
  position: relative;
  border-radius: 6px;
  min-width: 240px;
}
.type-1 {
  color: var(--primary-color4);
}
.type-1 .verified {
  color: hsla(0, 0%, 81%, 0.5);
}
.type-1 p {
  color: hsla(0, 0%, 81%, 0.7);
}
.type-2 {
  color: var(--primary-color2);
}
.type-2 .verified {
  color: hsla(217, 19%, 35%, 0.5);
}
.type-2 p {
  color: hsla(217, 19%, 35%, 0.7);
}
.card-1 {
  background-color: var(--primary-color1);
  grid-area: one;
}
.quotation img {
  position: absolute;
  top: 0px;
  right: 74px;
  width: 97px;
  height: 106px;
  z-index: 2;
}
.card-2 {
  background-color: var(--primary-color2);
  grid-area: two;
}
.card-3 {
  background-color: var(--primary-color4);
  grid-area: three;
}
.card-4 {
  background-color: var(--primary-color3);
  grid-area: four;
}
.card-5 {
  background-color: var(--primary-color4);
  grid-area: 5;
}
.grad-info {
  z-index: 100;
  position: relative;
  margin: 30px 20px 40px 30px;
}
.paragraph {
  line-height: 1.40;
  font-size: 12px;
}
.large .paragraph {
  line-height: 1.40;
  font-size: 12px;
}
.top-info {
  display: flex;
}
.img-box {
  border: 16px solid hsla(0, 0%, 81%, 0.5);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  z-index: 100;
}
.special {
  border: 16px solid var(--primary-color1);
}
.img-box img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.name-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 16px;
  font-size: 11px;
}
.name-box h3 {
  font-size: 13px;
}
.ph {
  margin-top: 15px;
  max-height: 100%;
}
.ph h2 {
  font-size: 19px;
}
.ph-2 {
  max-height: 100%;
}
.credits {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 11px;
}

@media (min-width: 800px) {
  body {
    padding: 0px 75px 0px 75px;
  }
  .grid-container {
    grid-template-areas: 
    'one one'
    'two three'
    'four three'
    'five five';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card-1 {
    grid-area: one;
  }
  .card-2 {
    grid-area: two;
  }
  .card-3 {
    grid-area: four;
  }
  .card-4 {
    grid-area: five;
  }
  .card-5 {
    grid-area: three;
  }
}

@media (min-width: 1300px) {
  body {
    padding: 0px 200px 0px 200px;
  }
  .grid-container {
    grid-template-areas: 
    'one one two three'
    'four five five three';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .grad-cards {
    min-height: 300px;
  }
  .card-1 {
    grid-area: one;
  }
  .card-2 {
    grid-area: two;
  }
  .card-3 {
    grid-area: four;
  }
  .card-4 {
    grid-area: five;
  }
  .card-5 {
    grid-area: three;
  }
}